main {
    display: flex;
    justify-content: center;
    height: 400px;
}

table {
    margin-top: 100px;
    table-layout: fixed;
    width: 80%;
    /* border-collapse: collapse; */
    border: 2px solid black;
    box-shadow: 0 0 30px black;
    border-radius: 20px;
}

thead {
    color: rgb(255, 240, 235);
    background-color: rgb(8, 20, 12);
    border: 2px solid rgb(9, 29, 20);
}

td {
    padding: 10px;
    border: 2px solid rgb(48, 48, 48);
}

th {
    padding: 20px;
}

button {
    padding: 3px 10px;
    border-radius: 10px;
    font-size: 18px;
    color: rgb(9, 29, 20);
}